*{
	text-align: center;
	box-sizing: border-box;
	font-size: 27px;
	border-radius: 3px;
}
h1{
	font-size: 30px;
	color: #DC0F0F;
}

#birthday{
	float: left;
	text-decoration: none;
	width: 100%;
}

#day,#month,#year{	
	border: 1px solid #dddddd;
}

#img {
	width: 24%;
	position: fixed;
	left: 0%;
	top: 0%;
	height: 100%
}